* {
    margin: 0;
    font-family: sans-serif;
    color: white;
    transition: all 0.3s ease-ease;
}

body {
    background-color: #fff;
}

#list {
    margin-top: 2.6em;
    width: 130px;
}

#list ul {
    padding: 0;
    height: 100vh;
    flex-direction: column;
}

#list li {
    list-style: none;
    display: block;
    padding: 15px;
    background-color: #333;
    border-bottom: 1px solid #999;
    justify-content: space-between;
    text-transform: capitalize;
}

#list li span {
    display: inline-block;
}

#list li:hover {
    background-color: #444;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
}

#content {
    justify-content: flex-start;
}

#container {
    flex-direction: column;
}

img {
    max-height: 95vh;
    max-width: 80vw;
}

#count {
    height: 1.3em;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: #fff;
    background-color: #333;
}