* {
    margin: 0;
    font-family: sans-serif;
    transition: all 0.5s ease;
}

/*body {
    background: linear-gradient(to left,#91AA9D, #3E606F);
}
*/
#list {
    position: absolute;
    width: 150px;
    height: 100vh;
    background-color: #D1DBBD;
}

#list ul {
    padding: 0;
}

#list li {
    list-style: none;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
    padding: 20px;
}

#list li:hover {
    background-color: red;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

#container {
    margin: auto auto auto 180px;
    height: 100vh;
    overflow: hidden;
}

img {
    max-height: 100vh;
    box-shadow: 0px 0px 51px -9px #000;
}

.catInfo {
    position: absolute;
    width: 130px;
    height: 180px;
    color: white;
    background-color: red;
    font-size: 5em;
    text-align: right;
}

#catName {
    text-shadow: 4px 4px #000;

}

#count {
    font-size: 0.8em;
    text-align: center;
    display: inline-block; 
    width: 100%;
}

#admButton {
    position: absolute;
    font-size: 1.4em;
    width: 2em;
    height: 2em;
    top: 0px;
    right: 0px;
    background-color: red;
    border: none;
    border-radius: 100%;
    margin: 5px;
    cursor: pointer;
}

#admButton:hover {
    background-color: black;
    color: white;
}

#admin {
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    right: 0;
    top: 0;
}